{% load static %}

<div class="header-sm d-block">
    <header class="navbar nav-bg fixed-top">
        <div class="container home-head-container">
            <a href="index.html" class="navbar-brand">
                <img src="{% static 'img/logo.png' %}" id="logo" alt="GEC Raipur" />
            </a>

            <!-- Menu Button -->
            <div class="menu-btn">
                <div class="btn-line"></div>
                <div class="btn-line"></div>
                <div class="btn-line"></div>
            </div>

            <!-- Menu -->
            <nav class="menu">
                <div class="close-btn">&times;</div>

                <ul class="menu-nav">
                    <li class="nav-item0">
                        <a href="index.html" class="nav-link0">
                            Home
                        </a>
                    </li>
                    <li class="nav-item0">
                        <a href="institute.html" class="nav-link0">
                            Institute
                        </a>
                    </li>
                    <li class="nav-item0">
                        <a href="department.html" class="nav-link0">
                            Department
                        </a>
                    </li>
                    <li class="nav-item0 active">
                        <a href="contactus.html" class="nav-link0">
                            Contact
                        </a>
                    </li>

                    <li class="nav-item0">
                        <a href="login.html" class="nav-link0 dark-btn">
                            Log in
                        </a>
                    </li>

                    <li class="nav-item0">
                        <a href="register.html" class="nav-link0 light-btn">
                            Register
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </header>
</div>