{% extends 'base2.html' %}

{% block content %}
    <div class="contact-body">
        <div class="container contact-body-container arrow-top">
            <div class="row">
                <div class="col-md-3 d-md-block d-sm-none"></div>
                <div class="col-md-6 contact-card">
                    <div class="head">
                        <i class="fas fa-envelope"></i>
                        Contact Us
                        <p>
                            You are about to contact the Department of Electronics & Telecommunication at Government Engineering College, Raipur.
                        </p>
                    </div>

                    <form action="" method="POST" class=contact-form>
                        <div class="form-elems">
                            <label for="name">Name</label>
                            <input name="name" type="text" placeholder="Daenerys Targaryen" autocomplete="off" required>
                        </div>

                        <div class="form-elems">
                            <label for="email">E-mail</label>
                            <input name="email" type="email" placeholder="motherofdragons@got.com" autocomplete="off" required>
                        </div>

                        <!-- <div class="form-elems">
                            <label for="category">Category</label>
                                    <select name="category" form="elems">
                                        <option>What are you contacting us for?</option>
                                        <option value="admission">Admission</option>
                                        <option value="exam">Exam</option>
                                        <option value="other">Other</option>
                                    </select>
                        </div> -->

                        <div class="form-elems">
                            <label for="message">Message</label>
                            <textarea name="message" placeholder="Dracarys"></textarea>
                        </div>

                        <div class="form-elems text-center">
                            <button type="submit" class="dark-btn">
                                <i class="fas fa-paper-plane mr-1"></i>
                                Send
                            </button>
                        </div>

                    </form>
                </div>
                <div class="col-md-3 d-md-block d-sm-none"></div>
            </div>
        </div>
    </div>
{% endblock %}
