{% extends 'base.html' %}

{% load static %}

{% block content %}

    {% include 'partials/_header_sm.html' %}

    <div class="container institute-body-container department-body-container arrow-top">
            <span class="about-clg-text">
                <span class="strong-text"><span class="first-letter">E</span>lectronics and Telecommunication Department</span> at <span class="strong-text">GEC, Raipur</span> strives to prepare its student to be independent and innovative. The environment of the department is conducive to academic growth of its faculty and students. The objective of the department is to equip students with techniques to become providers of innovative and indigeneous solutions.
                <br>
                <br>
                The Department offers a thorough and well decorated academic structure for theoretical understanding and their practical applications by efficiently combining the traditional and futuristic laboratories to inculcate technological skills among the pursuing students.
            </span>

        <div class="accordion dep-detail">
            <ul>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Faculty Members</h2>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="card faculty-details">
                                <div class="card-body">
                                    <div class="card-img">
                                        <img src="{% static 'img/faculty/tal.jpg' %}" alt="Faculty">
                                    </div>
                                    <div class="card-title">
                                        <img src="{% static 'img/gmail.svg' %}" class="social-logo" alt="Mail">
                                    </div>
                                    <div class="card-text">
                                            <span class="faculty-name">
                                                Mr. R.H. Talwekar
                                            </span>
                                        <span class="role">
                                                HOD & Professor
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card faculty-details">
                                <div class="card-body">
                                    <div class="card-img">
                                        <img src="{% static 'img/faculty/ex-hod.jpg' %}" alt="Faculty">
                                    </div>
                                    <div class="card-title">
                                        <img src="{% static 'img/gmail.svg' %}" class="social-logo" alt="Mail">
                                    </div>
                                    <div class="card-text">
                                            <span class="faculty-name">
                                                Mr. A.K. Shrivastava
                                            </span>
                                        <span class="role">
                                                Associate Professor
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card faculty-details">
                                <div class="card-body">
                                    <div class="card-img">
                                        <img src="{% static 'img/faculty/chetna_sng_s.jpg' %}" alt="Faculty">
                                    </div>
                                    <div class="card-title">
                                        <img src="{% static 'img/gmail.svg' %}" class="social-logo" alt="Mail">
                                    </div>
                                    <div class="card-text">
                                            <span class="faculty-name">
                                                Mrs. Chetna Sinha
                                            </span>
                                        <span class="role">
                                                Assistant Professor
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card faculty-details">
                                <div class="card-body">
                                    <div class="card-img">
                                        <img src="{% static 'img/faculty/suman_das_s.jpg' %}" alt="Faculty">
                                    </div>
                                    <div class="card-title">
                                        <img src="{% static 'img/gmail.svg' %}" class="social-logo" alt="Mail">
                                    </div>
                                    <div class="card-text">
                                            <span class="faculty-name">
                                                Mrs. Suman Dass
                                            </span>
                                        <span class="role">
                                                Assistant Professor
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card faculty-details">
                                <div class="card-body">
                                    <div class="card-img">
                                        <img src="{% static 'img/faculty/ravi_kum_s.jpg' %}" alt="Faculty">
                                    </div>
                                    <div class="card-title">
                                        <img src="{% static 'img/gmail.svg' %}" class="social-logo" alt="Mail">
                                    </div>
                                    <div class="card-text">
                                            <span class="faculty-name">
                                                Mr. Ravi Kumar
                                            </span>
                                        <span class="role">
                                                Assistant Professor
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card faculty-details">
                                <div class="card-body">
                                    <div class="card-img">
                                        <img src="{% static 'img/faculty/manjeet_s.jpg' %}" alt="Faculty">
                                    </div>
                                    <div class="card-title">
                                        <img src="{% static 'img/gmail.svg' %}" class="social-logo" alt="Mail">
                                    </div>
                                    <div class="card-text">
                                            <span class="faculty-name">
                                                Mr. Manjeet Singh Sonwani
                                            </span>
                                        <span class="role">
                                                Assistant Professor
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card faculty-details">
                                <div class="card-body">
                                    <div class="card-img">
                                        <img src="{% static 'img/faculty/ajay_s.jpg' %}" alt="Faculty">
                                    </div>
                                    <div class="card-title">
                                        <img src="{% static 'img/gmail.svg' %}" class="social-logo" alt="Mail">
                                    </div>
                                    <div class="card-text">
                                            <span class="faculty-name">
                                                Dr. Ajay Kumar Kushwaha
                                            </span>
                                        <span class="role">
                                                Assistant Professor
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card faculty-details">
                                <div class="card-body">
                                    <div class="card-img">
                                        <img src="{% static 'img/faculty/ashish_s.jpg' %}" alt="Faculty">
                                    </div>
                                    <div class="card-title">
                                        <img src="{% static 'img/gmail.svg' %}" class="social-logo" alt="Mail">
                                    </div>
                                    <div class="card-text">
                                            <span class="faculty-name">
                                                Mr. Ashish Kumar Sahu
                                            </span>
                                        <span class="role">
                                                Assistant Professor
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card faculty-details">
                                <div class="card-body">
                                    <div class="card-img">
                                        <img src="{% static 'img/faculty/nidhi_s.jpg' %}" alt="Faculty">
                                    </div>
                                    <div class="card-title">
                                        <img src="{% static 'img/gmail.svg' %}" class="social-logo" alt="Mail">
                                    </div>
                                    <div class="card-text">
                                            <span class="faculty-name">
                                                Ms. Nidhi Bhuwal
                                            </span>
                                        <span class="role">
                                                Assistant Professor
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card faculty-details">
                                <div class="card-body">
                                    <div class="card-img">
                                        <img src="{% static 'img/faculty/purnima_s.jpg' %}" alt="Faculty">
                                    </div>
                                    <div class="card-title">
                                        <img src="{% static 'img/gmail.svg' %}" class="social-logo" alt="Mail">
                                    </div>
                                    <div class="card-text">
                                            <span class="faculty-name">
                                                Ms. Poornima Sonit
                                            </span>
                                        <span class="role">
                                                Assistant Professor
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card faculty-details">
                                <div class="card-body">
                                    <div class="card-img">
                                        <img src="{% static 'img/faculty/abhishek_s.jpg' %}" alt="Faculty">
                                    </div>
                                    <div class="card-title">
                                        <img src="{% static 'img/gmail.svg' %}" class="social-logo" alt="Mail">
                                    </div>
                                    <div class="card-text">
                                            <span class="faculty-name">
                                                Mr. Abhishek Agrawal
                                            </span>
                                        <span class="role">
                                                Assistant Professor
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card faculty-details">
                                <div class="card-body">
                                    <div class="card-img">
                                        <img src="{% static 'img/faculty/yog_s.jpg' %}" alt="Faculty">
                                    </div>
                                    <div class="card-title">
                                        <img src="{% static 'img/gmail.svg' %}" class="social-logo" alt="Mail">
                                    </div>
                                    <div class="card-text">
                                            <span class="faculty-name">
                                                Mr. Yogendra Kumar Upadhyaya
                                            </span>
                                        <span class="role">
                                                Assistant Professor
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card faculty-details">
                                <div class="card-body">
                                    <div class="card-img">
                                        <img src="{% static 'img/faculty/archana_s.jpg' %}" alt="Faculty">
                                    </div>
                                    <div class="card-title">
                                        <img src="{% static 'img/gmail.svg' %}" class="social-logo" alt="Mail">
                                    </div>
                                    <div class="card-text">
                                            <span class="faculty-name">
                                                Mrs. Archana Kumari
                                            </span>
                                        <span class="role">
                                                Assistant Professor
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Vision & Mission</h2>
                    <p>
                            <span class="acc-head">
                                Vision
                            </span>
                        <span class="acc-text">
                                To develop proficient Electronics and Telecommunication engineer capable of providing solutions to industry, thereby contributing to individual and society.
                            </span>

                        <span class="acc-head">
                                Mission
                            </span>
                        <span class="acc-text">
                                1. To implement novel educational experiences in the field of Electronics and Telecommunication.
                            </span>

                        <span class="acc-text">
                                2. To develop community through service, consultancy and research activities.
                            </span>

                        <span class="acc-text">
                                3. To promote interdisciplinary learning and industry interaction.
                            </span>

                        <span class="acc-text">
                                4. To promote professional ethics and entrepreneur skills in students.                                .
                            </span>
                    </p>
                </li>

                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Program Educational Objectives (PEOs)</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam quas consectetur ipsa illo aspernatur magni praesentium temporibus mollitia, maxime at. Nisi dolores cum dolorum quos laborum corporis, eos voluptas recusandae!
                    </p>
                </li>

                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Program Outcomes (POs) & PSOs</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam quas consectetur ipsa illo aspernatur magni praesentium temporibus mollitia, maxime at. Nisi dolores cum dolorum quos laborum corporis, eos voluptas recusandae!
                    </p>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}