{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container institute-body-container arrow-top">
      <span class="about-clg-text">
        <span class="strong-text"
        ><span class="first-letter">G</span>overnment Engineering College
          (GEC), Raipur</span
        >
        was established in 2006 as a centre for imparting quality Engineering
        Education in Chhattisgarh. It is affiliated to
        <span class="link-text"
        ><a href=""
        >Chhattisgarh Swami Vivekananda Technical University, Bhilai</a
        ></span
        >
        and recognized by
        <span class="link-text"><a href="">AICTE, New Delhi</a></span
        >. The college is functioning in a large unified academic campus, having
        sound and self-sufficient infrastructure. This institute has been
        engaged in nurturing minds through a rich heritage of academic
        excellence. Essentially a hub of bustling student activities, the
        beautiful campus has been a second-home to thousands of students in
        their journey to challenge the times.
        <br />
        <br />
        The primary objective of the institute is to coordinate, supervise,
        regulate, guide and provide leadership in all aspects of technological
        and engineering education and to provide economical and quality
        education to the aspirants. The vision of the institute is to provide
        excellence in Technical Education and meet the growing demands of
        industries in the current scenario as well as to inculcate the spirit of
        self-reliance and employability among the students thereby benefitting
        the society.

        <br />
        <br />

        <span class="strong-text">Departments: </span>GEC Raipur imparts
        education in degree courses of the following five branches.
        <div class="row">
          <div class="col-md-3 d-none d-md-block"></div>
          <div class="col-md-6 dep-table table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Branch</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td class="text-link"><a href="">Civil Engineering</a></td>
                </tr>

                <tr>
                  <th scope="row">2</th>
                  <td class="text-link">
                    <a href="">Mechanical Engineering</a>
                  </td>
                </tr>

                <tr>
                  <th scope="row">3</th>
                  <td class="text-link">
                    <a href="">Computer Science Engineering</a>
                  </td>
                </tr>

                <tr>
                  <th scope="row">4</th>
                  <td class="text-link">
                    <a href="">Electrical and Electronics Engineering</a>
                  </td>
                </tr>

                <tr>
                  <th scope="row">5</th>
                  <td class="text-link">
                    <a href="">Electronics & Telecommunication Engineering</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-3 d-none d-md-block"></div>
        </div>

        It also focuses on encouraging and nourishing skills and overall
        personality development of students for which various
        <span class="strong-text">clubs</span> have been formed in the college
        such as
        <span class="italic-text">AVESH, SAE, CODE, E-CELL and LOK</span> under
        <span class="strong-text">START-UP CELL</span>.

        <br />
        <br />
        The college is well equipped with modern Labs, workshops, smart classes,
        e-library, Wi-Fi facility and has a
        <span class="strong-text italic-text">splendid auditorium</span>. The
        college offers a multicultural learning environment with the mesmerizing
        beauty and atmosphere for education, shaping the dreams of students into
        reality.
      </span>
        <br />
        <br />
        <div class="home-img">
            <div class="overlay">
                <a href="http://gecraipur.ac.in" class="ext-link" target="_blank">
                    <i class="fas fa-external-link-alt"></i>
                    <span class="d-none d-md-inline">
              gecraipur.ac.in
            </span>
                </a>
            </div>
        </div>
    </div>

{% endblock %}